/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: #f5f5f5;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Header styles */
header {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    color: white;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Ensure header content does not overlap */
header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    margin: 0;
    z-index: 1001; /* Ensure it is above other elements */
    position: relative;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0 0 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff9800;
}

/* Section styles */
.season-section {
    height: auto; /* Remove full viewport height */
    padding: 6em 2em 2em; /* Adjusted padding for space above and below content */
    text-align: center;
    color: #333; /* Set text color to ensure readability */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #ffffff; /* Default background */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Ensure correct margin and padding to prevent overlap */
#jesien {
    padding-top: 8em; /* Adjust top padding to move content down */
}

#zima {
    padding-top: 8em; /* Adjust top padding to move content down */
}

/* Image container styles */
.image-container {
    display: flex;
    flex-wrap: wrap; /* Allow images to wrap if they overflow */
    justify-content: center; 
    gap: 1em;
}

.image-container img {
    max-width: 200px;
    height: auto;
    margin: 0.5em;
    transition: transform 0.3s ease, z-index 0s;
}

.image-container img:hover {
    transform: scale(1.2);
    z-index: 10;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0.5em 0;
    }
}
